Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

*tlog

HavokCore/HavokCore/x64
HavokCore/HavokCore/Havok/Lib
HavokCore/HavokCore/Havok/Source
HavokCore/x64

!UnrealHavok/Binaries/Win64/HavokCore.dll
!UnrealHavok/Source/HavokCore/ThirdParty/HavokCore.lib