Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
HavokCore/HavokCore/x64
UnrealHavok/Content/Wild_Wheels
*tlog
!UnrealHavok/Binaries/Win64/HavokCore.dll
!UnrealHavok/Source/HavokCore/ThirdParty/HavokCore.lib